body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: gray;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: aliceblue;
  border-radius: 8px;
  padding: 30px;
  width: 300px;
}
h1 {
  color: rgb(52, 74, 74);
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
input {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(176, 194, 227);
  border: 1px solid black;
}
button {
  background-color: rgb(69, 66, 66);
  color: aliceblue;
  padding: 10px;
  border-radius: 10px;
}
button:hover {
  background-color: rgb(81, 81, 78);
}
