body{
    font-family: sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: aliceblue;
}
h1, h2 {
    color: aquamarine;
}
.container {
    background-color: burlywood;
    border: 2px solid #333;
    margin-bottom: 20px;
    padding: 10px;
}
.grid-container {
    display: grid;
    gap: 10px;
    background-color: #ddd;
    padding: 10px;
    margin-bottom: 10px;
}
.box {
    background-color: blue;
    color: white;
    padding: 20px;
    font-size: 18px;
    text-align: center;
}
.box:nth-child(even) {
    background-color: chocolate;
}